body{
    background-color:#2D3947;
}
* {
    margin: 0;
    padding: 0;
  }

  /* FIXED HEADER */
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    z-index: 1;
    position: fixed;
   margin-left:7vw;
   margin-top: 4vw;
   right: 2vw;
   font-family: "franklin-gothic-condensed", sans-serif;
font-weight: 400;
font-style: normal;
color: #E5DFD8;
  }

  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1vw;
  }
  .logomark {
    max-width: 100%;
   z-index: 2; 
   position: fixed;
  } 

  .lineheader {
    position: fixed;
    top: 9%;
  }

 @media (min-width: 600px) {
    .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;
        margin: 0; 
        z-index: 1;
        position: fixed;
       margin-left:7vw;
       margin-top: 1vw;
       right: 2vw;
       font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
      }
    
      .navigation a {
        text-decoration: none;
        display: block;
        padding: 1vw;
      }
      
    .logomark {
        max-width: 100%;
        top: 1vh;
       z-index: 2; 
       position: fixed;
      } 
    
      .lineheader {
        position: fixed;
        top: 9%;
      } 
    
     }
  
 /*TITLE */
 .name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #E5DFD8;
    font-family: "eb-garamond", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60pt;
    line-height: 130pt;
}

.line {
    position: absolute;
    top: 11%;
    left: 40%;
    transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
.name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 65%;
    left: 70%;
    right: -20%;
    transform: translate(-50%, -50%);
    color: #E5DFD8;
    font-family: "eb-garamond", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60pt;
    line-height: 130pt;
}    
.line {
    position: absolute;
    top: 1%;
    left: 45%;
    transform: translate(-50%, -50%);
}

}

 /*LINKS*/
 .links1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    color: #E5DFD8; 
    font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
 }
 .links2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    color: #E5DFD8; 
    font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
 }
 .links3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    color: #E5DFD8; 
    font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
 }

 .line {
    margin-top: 78%;
    margin-left: 10%;
    margin-right: 10%;
 }

 @media (min-width: 600px) {
 .links1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 100%;
    color: #E5DFD8; 
    font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
 }
 .links2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 28%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 100%;
    color: #E5DFD8; 
    font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
 }
 .links3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 36%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 100%;
    color: #E5DFD8; 
    font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
 }

 .line {
    margin-top: 45%;
    margin-left: 19%;
    margin-right: 10%;
 }
 }
 /*PHOTO LINKS*/
 .container2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 @media (min-width: 600px) {
 .container2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
 }
 .linksphoto2 {
    position: absolute;
    right: -2vw;
    width: 40%;
 }

 .linksphoto1 {
    width: 40%;
 }
 }

 /*LOGO */
 .submarklogo {
    position: absolute;
top: 120%;
left: 43%;
 }

 @media (min-width: 600px) {
    .submarklogo {
        position: absolute;
        width: 7%;
    top: 87%;
    left: 45%;
     }
 }

 /*LINK STYLING */
a:link {
    color: #E5DFD8;
    text-decoration: none;
  }

  a:visited {
    color: #E5DFD8;
  }

  a:hover {
    text-decoration: underline;
  }