body {
    background-color: #C4D9E8;
}

.gallery-container {
    display: flex;
    justify-content: center;
    padding-top: 10%;
  }

  @media (min-width: 600px) {
  .gallery-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }
}

  .thumbnails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10%;
    justify-content: center;
align-items: center;
text-align: center;

  }
  
  .thumbnails img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .thumbnailsdesktop {
    display: none;
  }

  @media (min-width: 600px) {
    .thumbnails {
        display: none;
    }

  .thumbnailsdesktop {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .thumbnailsdesktop img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

}
  
  .scrollbar {
    width: 1px;
    height: 720px;
    background: #E5DFD8;
    display: block;
    margin: 0 0 0 8px;
  }
  
  .thumb {
    width: 1px;
    position: absolute;
    height: 0;
    background: #2D3947;
  }
  
  .slides {
    margin: 0 16px;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: calc(540px + 1rem);
    padding: 0 0.25rem;
    height: 720px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
  }

  @media (min-width: 600px) {
    .slides {
        margin: 0 16px;
        display: grid;
        grid-auto-flow: row;
        gap: 1rem;
        width: calc(540px + 1rem);
        padding: 0 0.25rem;
        height: 800px;
        width: 620px;
        overflow-y: auto;
        overscroll-behavior-y: contain;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
      }  
  }
  
  .slides > div {
    scroll-snap-align: start;
  }
  
  .slides img {
    width: 100%;
    object-fit: contain;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }