/* 
Primary
font-family: "eb-garamond", serif;
font-weight: 800;
font-style: normal; 
Secondary
font-family: "franklin-gothic-condensed", sans-serif;
font-weight: 400;
font-style: normal;
Complimentary
font-family: "eb-garamond", serif;
font-weight: 500;
font-style: normal;
*/
