/* 
Primary
font-family: "eb-garamond", serif;
font-weight: 800;
font-style: normal; 
Secondary
font-family: "franklin-gothic-condensed", sans-serif;
font-weight: 400;
font-style: normal;
Complimentary
font-family: "eb-garamond", serif;
font-weight: 500;
font-style: normal;
*/
body{
    background-color:#F8F6F0;
}
* {
    margin: 0;
    padding: 0;
  }
  

/* FIXED HEADER */
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    z-index: 1;
    position: fixed;
   margin-left:7vw;
   margin-top: 3vh;
   right: 2vw;
   font-family: "franklin-gothic-condensed", sans-serif;
font-weight: 400;
font-style: normal;
  }

  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1vw;
  }
  .logomark {
    max-width: 100%;
   z-index: 2; 
   position: fixed;
  } 

  .lineheader {
    position: fixed;
    top: 9%;
    z-index: 2;
  } 

 @media (min-width: 600px) {
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    z-index: 1;
    position: fixed;
   margin-left:7vw;
   margin-top: 1vw;
   right: 2vw;
   font-family: "franklin-gothic-condensed", sans-serif;
font-weight: 400;
font-style: normal;
  }

  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1vw;
  }
  
.logomark {
    max-width: 100%;
    top: 1vh;
   z-index: 2; 
   position: fixed;
  } 

  .lineheader {
    position: fixed;
    top: 9%;
    z-index: 2;
  } 

 }
/*WRITING*/

.middle {
flex-direction: row;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
color: #F8F6F0;
}

.sav {
font-family: "eb-garamond", serif;
font-weight: 800;
font-style: normal;
font-size: 60pt;
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
color: #F8F6F0;
}

.fash {
font-family: "franklin-gothic-condensed", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 15pt;
}

.kofton {
    font-family: "eb-garamond", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60pt;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    color: #F8F6F0;
}

.style {
 font-family: "franklin-gothic-condensed", sans-serif;
 font-weight: 400;
font-style: normal;
font-size: 15pt;
}


@media (min-width: 600px) {
    .middle {
        flex-direction: row;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        color: #F8F6F0;
        }
        
        .sav {
        font-family: "eb-garamond", serif;
        font-weight: 800;
        font-style: normal;
        font-size: 150pt;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        color: #F8F6F0;
        }
        
        .fash {
        font-family: "franklin-gothic-condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20pt;
        }
        
        .kofton {
            font-family: "eb-garamond", serif;
            font-weight: 800;
            font-style: normal;
            font-size: 150pt;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            color: #F8F6F0;
        }

        .linelight {
            width: 150%;
        }
        
        .style {
         font-family: "franklin-gothic-condensed", sans-serif;
         font-weight: 400;
        font-style: normal;
        font-size: 20pt;
        }
    }
/*PHOTO BASES*/
.rectangle {
    height: 90vh;
    width: 100%;
    background-color: #FF69B4;
  }
@media (min-width: 600px) {
.rectangle {
    height: 120vh;
    width: 100%;
    background-color: #FF69B4;
  }
}
/*LINKS FLEXBOX*/
.smallphotos {
    height: 60vh;
    width: 100%;
    background-color: #F8F6F0;

}

@media (min-width: 600px) {
.smallphotos {
    height: 70vh;
    width: 100%;
    background-color: #F8F6F0;
}
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-link {
    text-align: center;
}

.gallery-link a {
    display: block; /* Make the entire anchor a block element */
}

.gallery-link img {
    width: 100%; /* Take up the full width of its container */
    max-height: 200px; /* Set a maximum width to avoid stretching */
    margin-bottom: 20%; /* Reduce the margin between image and text */
    margin-top: 20%;
}

@media (min-width: 600px) {
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-link {
    text-align: center;
}

.gallery-link a {
    display: block; /* Make the entire anchor a block element */
}

.gallery-link img {
    width: 100%; /* Take up the full width of its container */
    max-height: 600px; /* Set a maximum width to avoid stretching */
    margin-bottom: 20%; /* Reduce the margin between image and text */
    margin-top: 20%;
}
}
/*ABOUT ME SECTION */
.aboutmephoto {
    position: absolute;
    margin-left: 3vw;
}

.aboutmewriting {
    margin-top: 40vh;
    margin-left: 10vw;
    margin-right: 3vw;
    padding-top: 30vh;
    padding-bottom: 7vh;
    background-color:#6B1F2D;
}
h1 {
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding-bottom: 2vw;
    font-family: "eb-garamond", serif;
    font-weight: 800;
    font-style: normal; 
    font-size: 50pt;
    color: #FA9CBC;
}

p {
    padding-left: 6vw;
    padding-right: 12vw;
    font-family: "eb-garamond", serif;
font-weight: 500;
font-style: normal;
color: #FA9CBC;
}

.aboutme {
    display: none;
}

@media (min-width: 600px) {
.aboutmephoto {
    display: none;
}

.aboutmewriting {
    display: none;
}

.aboutme {
    display: block;
    overflow: hidden;
    background-color:  #6B1F2D;
}

.aboutmephoto2 {
    margin-left: 0;
}

.aboutmewriting2 {
    margin-top: 0vh;
    margin-right: 0vh;
    position: absolute;
}
h1 {
    margin-top: -50%;
    padding-left: 60vw;
    padding-right: 5vw;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding-bottom: 6vw;
    font-family: "eb-garamond", serif;
    font-weight: 800;
    font-style: normal; 
    font-size: 90pt;
    line-height: 13vh;
    color: #FA9CBC;
}

p {
    padding-left: 60vw;
    padding-right: 9vw;
    font-family: "eb-garamond", serif;
font-weight: 500;
font-size: 15pt;
font-style: normal;
color: #FA9CBC;
}
}

/*LOGO*/
.Credit {
    padding-top: 50vw;
    padding-bottom: 5vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "eb-garamond", serif;
    font-weight: 800;
    font-style: normal; 
    color:#FF69B4;
}

@media (min-width: 600px) {
.Credit {
    padding-top: 10vw;
    padding-bottom: 1vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "eb-garamond", serif;
    font-weight: 800;
    font-style: normal; 
    color: #FF69B4;
}
}


/*LINK STYLING */
a:link {
    color: #F8F6F0;
    text-decoration: none;
  }

  a:visited {
    color: #F8F6F0;
  }

  a:hover {
   color: #6B1F2D;
  }
  

