body{
    background-color:#FA9CBC;
    min-height: 120vh; /* Adjust the minimum height based on your design */
}
* {
    margin: 0;
    padding: 0;
  }

  /* FIXED HEADER */
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    z-index: 1;
    position: sticky;
    top: 0;
   margin-left:7vw;
   margin-top: 4vw;
   right: 2vw;
   font-family: "franklin-gothic-condensed", sans-serif;
font-weight: 400;
font-style: normal;
color: #2D3947;
  }

  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1vw;
  }
  .logomark {
    max-width: 100%;
   z-index: 2; 
   position: fixed;
  } 

  .lineheader {
    position: fixed;
    top: 9%;
  }

 @media (min-width: 600px) {
    .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;
        margin: 0; 
        z-index: 1;
        position: fixed;
       margin-left:7vw;
       margin-top: 1vw;
       right: 2vw;
       font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
      }
    
      .navigation a {
        text-decoration: none;
        display: block;
        padding: 1vw;
      }
      
    .logomark {
        max-width: 100%;
        top: 1vh;
       z-index: 2; 
       position: fixed;
      } 
    
      .lineheader {
        position: fixed;
        top: 9%;
      } 
    
     }

/*LOGO */
.submarklogo {
    left: 43%;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20%;
    padding-bottom: 5%;
    display: none;
     }
    
     @media (min-width: 600px) {
        .submarklogo {
            height: 10%;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        padding-top: 20%;
         }
     }

     @media (max-width: 600px) {
     
     .image-container img {
      width: 300px; /* Adjust the width to your preference */
      height: auto; /* Maintain aspect ratio */
      margin: 10px; /* Add margin for spacing */
  }
  
  
  #gallery {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100%; /* Adjust the margin-top based on your preference */
}

.styling-section {
    text-align: left;
    margin-left: 2%;
    margin-top: 0; /* Adjust the margin-top based on your preference */
    position: absolute;
}

h1 {
  font-family: "eb-garamond", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 80pt;
  color: #F8F6F0;
    margin-top: 10%; /* Adjust the font size based on your preference */
}

.sort-dropdown {
    margin-top: 5%; /* Adjust the margin based on your preference */
}
    
#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#modal-content {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}
.enlarged-image {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 20px;
}

.additional-info p {
  margin-bottom: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #F8F6F0;
  border-radius: 12px;
  background-color: #F8F6F0; /* Set background color */
  font-family: "franklin-gothic-condensed", sans-serif; /* Set font-family */
  font-weight: 400; /* Set font-weight */
  font-style: normal; /* Set font-style */
  color: #FA9CBC; /* Set font color */
  appearance: none;
  background-image: url('PHOTOS/arrow-down-3101.svg'); /* Replace with your arrow SVG */
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 7px;
}

/* Apply styles when the dropdown is hovered or focused */
select:hover, select:focus {
  background-color: #F8F6F0; /* Set hover and focus background color */
}

/* Style the dropdown options */
select option {
  background-color: #F8F6F0; /* Set option background color */
  color: #F8F6F0; /* Set option font color */
}

#sortByPhotographer {
    width: 200px;
}

label {
  font-family: "franklin-gothic-condensed", sans-serif; /* Set font-family */
  font-weight: 400; /* Set font-weight */
  font-style: normal; /* Set font-style */
  color: #F8F6F0; /* Set font color */
 padding: auto; /* Add bottom margin between labels */
 display:block;

}

#modal-container {
  color: #6B1F2D; /* Set text color */
  font-family: "franklin-gothic-condensed", sans-serif; /* Set font-family */
  font-weight: 400; /* Set font-weight */
  font-style: normal; /* Set font-style */
  font-size: 18px; /* Set font size */
  text-align: center; /* Center-align the text */
  line-height: 1.5; /* Set line height for better readability */
}
  
} 
  
  @media (min-width: 600px) { 
    .image-container img {
      width: 300px; /* Adjust the width to your preference */
      height: auto; /* Maintain aspect ratio */
      margin: 10px; /* Add margin for spacing */
  }
  
  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30%; /* Adjust the margin-top based on your preference */
}

.styling-section {
    text-align: left;
    margin-left: 2%;
    margin-top: 0; /* Adjust the margin-top based on your preference */
    position: absolute;
}

h1 {
  font-family: "eb-garamond", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 80pt;
  color: #F8F6F0;
    margin-top: -30%; /* Adjust the font size based on your preference */
}

.sort-dropdown {
    margin-top: 5%; /* Adjust the margin based on your preference */
}
    
#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#modal-content {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}
.enlarged-image {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 20px;
}

.additional-info p {
  margin-bottom: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #F8F6F0;
  border-radius: 12px;
  background-color: #F8F6F0; /* Set background color */
  font-family: "franklin-gothic-condensed", sans-serif; /* Set font-family */
  font-weight: 400; /* Set font-weight */
  font-style: normal; /* Set font-style */
  color: #FA9CBC; /* Set font color */
  appearance: none;
  background-image: url('PHOTOS/arrow-down-3101.svg'); /* Replace with your arrow SVG */
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 7px;
}

/* Apply styles when the dropdown is hovered or focused */
select:hover, select:focus {
  background-color: #F8F6F0; /* Set hover and focus background color */
}

/* Style the dropdown options */
select option {
  background-color: #F8F6F0; /* Set option background color */
  color: #F8F6F0; /* Set option font color */
}

#sortByPhotographer {
    width: 200px;
}

label {
  font-family: "franklin-gothic-condensed", sans-serif; /* Set font-family */
  font-weight: 400; /* Set font-weight */
  font-style: normal; /* Set font-style */
  color: #F8F6F0; /* Set font color */
 padding: auto; /* Add bottom margin between labels */

}

#modal-container {
  color: #6B1F2D; /* Set text color */
  font-family: "franklin-gothic-condensed", sans-serif; /* Set font-family */
  font-weight: 400; /* Set font-weight */
  font-style: normal; /* Set font-style */
  font-size: 18px; /* Set font size */
  text-align: center; /* Center-align the text */
  line-height: 1.5; /* Set line height for better readability */
}
  
}

 /*LINK STYLING */
 a:link {
    color: #6B1F2D;
    text-decoration: none;
  }

  a:visited {
    color: #6B1F2D;
  }

  a:hover {
   color: #F8F6F0;
  }