body{
    background-color:#E5DFD8;
}
* {
    margin: 0;
    padding: 0;
  }

  /* FIXED HEADER */
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    z-index: 1;
    position: fixed;
   margin-left:7vw;
   margin-top: 4vw;
   right: 2vw;
   font-family: "franklin-gothic-condensed", sans-serif;
font-weight: 400;
font-style: normal;
color: #2D3947;
  }

  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1vw;
  }
  .logomark {
    max-width: 100%;
   z-index: 2; 
   position: fixed;
  } 

  .lineheader {
    position: fixed;
    top: 9%;
  }

 @media (min-width: 600px) {
    .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;
        margin: 0; 
        z-index: 1;
        position: fixed;
       margin-left:7vw;
       margin-top: 1vw;
       right: 2vw;
       font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
      }
    
      .navigation a {
        text-decoration: none;
        display: block;
        padding: 1vw;
      }
      
    .logomark {
        max-width: 100%;
        top: 1vh;
       z-index: 2; 
       position: fixed;
      } 
    
      .lineheader {
        position: fixed;
        top: 9%;
      } 
    
     }

    /*LINKS */
    .link1 {
padding-top: 20%;
padding-bottom: 10%;

    }
    .link2 {
        text-align: right;  
        padding-bottom: 10%;   
    }
    .link3 {
     right: 0;  
     padding-bottom: 10%;
    
    }
    .link4 {
        text-align: right;  
        padding-bottom: 10%;   
    }
    .link5 {
        padding-bottom: 10%;  
    }
    .link6 {
        text-align: right; 
        padding-bottom: 10%;    
    }
    .link7 {
        padding-bottom: 10%;     
    }
    .link8 {
        text-align: right; 
        padding-bottom: 10%;   
    }
    .link9 {
        padding-bottom: 10%;   
    }
    @media (min-width: 600px) {
    .link1 {
        padding-top: 10%;
        padding-bottom: 10%;  
            }
            .link2 {
             text-align: right; 
             padding-bottom: 10%;  
            }
            .link3 {
                padding-bottom: 10%;       
            }
            .link4 {
                text-align: right;
                padding-bottom: 10%;      
            }
            .link5 {
                padding-bottom: 10%;      
            }
            .link6 {
                text-align: right; 
                padding-bottom: 10%;         
            }
            .link7 {
                padding-bottom: 10%;      
            }
            .link8 {
                text-align: right;  
                padding-bottom: 10%;       
            }
            .link9 {
                padding-bottom: 10%;      
            }
        }
    /*LOGO */
 .submarklogo {
left: 43%;
position: absolute;
justify-content: center;
align-items: center;
text-align: center;
left: 50%;
transform: translate(-50%, -50%);
padding-top: 5%;
padding-bottom: 5%;
 }

 @media (min-width: 600px) {
    .submarklogo {
        height: 10%;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
     }
 }

 /*LINK STYLING */
a:link {
    color: #2D3947;
    text-decoration: none;
  }

  a:visited {
    color: #2D3947;
  }

  a:hover {
    text-decoration: underline;
  }